.second-paragraph{
    font-size: large;
    display: flex;
    max-width: min-content;
    min-width: 75%;
    margin: 0 auto;
    gap: 10px;
    align-items: center;
}

.s-image{
    width: 60vw;
    height: auto;
}

.s-text{
    word-wrap: break-word;
}