.weather-box{
    display: flex;
    flex-direction: row;
    min-width: 75%;
    max-width: fit-content;
    border-radius: 10px;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.temp-widget{
    align-self: flex-start;
    white-space: nowrap;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 2.5vw;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.temperature{
    font-weight: bolder;
    font-size: 4.5rem;
}

.temp-widget-text{
    font-size: 2.7rem;
    width: max-content;
    font-weight: bold;
    padding: 2.5vw;
    text-align: center;
    align-self: center;
}