.chart{
    position: relative;
    padding: 10px;
    left: 49%;
    transform: translateX(-50%);
}

.chart-container{
    align-items: center;
    overflow-x: hidden;
}

.recharts-cartesian-axis-ticks{
    font-size: large;
}

.switch{
    font-size: large;
    position: relative;
    left: 16%;
}